$bottom-height: 200px;
$bottom-padding: 20px;

.Puzzle {
  display: flex;
  flex-direction: column;

  &__top {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    background: #8cefff;
    border-bottom: 2px solid #444;
  }

  &__bottom {
    padding: $bottom-padding;
    width: 100%;
    height: $bottom-height;
  }

  &__unselected,
  &__selected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  &__shuffle-button-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__menu-link {
    font-size: 22px;
    position: absolute;
    left: $bottom-padding;
    bottom: $bottom-padding;
  }

  &__skip-button {
    position: absolute;
    right: $bottom-padding;
    bottom: $bottom-padding;
    cursor: pointer;
  }

  .Frame {
    margin: 0 10px 0 10px;
  }
}
