.Puzzle {
  display: flex;
  flex-direction: column;

  &__top {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    background: #8cefff;
    border-bottom: 2px solid #444;
  }

  &__bottom {
    width: 100%;
    height: 200px;
  }

  &__unselected,
  &__selected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  &__shuffle-button-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .Frame {
    margin: 0 10px 0 10px;
  }
}
