.Login {
  display: flex;
  flex-direction: column;
  &__header {
    position: relative;
    flex: 0 1 100px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
  }

  &__header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__user-list {
    display: flex;
    flex-direction: row;
    height: 0;
    flex: 1 1 auto;
    overflow: auto;
    min-height: 100px;

    .User-list {
      flex: 0 1 600px;
      margin: 0 auto;
    }
  }

  &__form-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 10px;

    .User-list-form {
      flex: 0 1 600px;
      margin: 0 auto;
    }
  }

  &__login-button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__footer {
    position: relative;
    flex: 0 1 100px;
    width: 100%;
    text-align: right;
  }
}
