.icon {
  background-image: url(../images/sprite.png);
}
.icon-tctc-logo {
  background-position: -0px -0px;
  width: 162px;
  height: 108px;
}
.icon-medal-bronze {
  background-position: -0px -108px;
  width: 264px;
  height: 264px;
}
.icon-medal-gold {
  background-position: -0px -372px;
  width: 264px;
  height: 264px;
}
.icon-medal-silver {
  background-position: -0px -636px;
  width: 264px;
  height: 264px;
}
.icon-arrow {
  background-position: -0px -900px;
  width: 638px;
  height: 422px;
}
.icon-arrow_hover {
  background-position: -0px -1322px;
  width: 638px;
  height: 422px;
}